

<!-- ReactiveForm -->

  <div class="container p-5">
  <h1 class="h4 mb-4 ">Aggiungi un evento</h1>
  <form  [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" formControlName = "nome" ><br>
    </div>
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="categoria">Categoria</label>
        </div>
        <select class="custom-select" id="categoria" formControlName="idCategoria">
          <option value={{categoria.id}} *ngFor="let categoria of categorie">{{categoria.nome}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="localita">Localita</label>
        </div>
        <select class="custom-select" id="localita" formControlName="idLocalita">
          <option value={{loca.id}} *ngFor="let loca of localita">{{loca.citta}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="descrizione">Descrizione</label>
      <textarea cols="20" rows="5" class="form-control" id="descrizione" placeholder="" formControlName = "descrizione"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Data</label>
      <input  type="datetime-local" class="form-control" id="data" placeholder="" formControlName = "data" >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Prezzo</label>
      <input  type="number" class="form-control" id="prezzo" placeholder="" formControlName = "prezzo" >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Numero Biglietti</label>
      <input  type="number" class="form-control" id="bigliettiDisponibili" placeholder="" formControlName = "bigliettiDisponibili" >
    </div>
    
    <button type="submit" id="btn-add" class="btn mt-2 btn-success" [disabled]="!addForm.valid">Aggiungi evento</button>
  </form></div>

 