<div class="fixed-top ">
  <nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-black ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TicketUniverse</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-5 ">
          <li class="nav-item dropdown">
            <a
              class="nav-link text-white dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Eventi
            </a>
            <ul class="dropdown-menu-dark dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Teatro</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Musica</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Sport</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link text-white dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Località
            </a>
            <ul class="dropdown-menu-dark dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Agrigento</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Caltanissetta</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Catania</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Enna</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Messina</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Palermo</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Ragusa</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Siracusa</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Trapani</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="container d-flex justify-content-around" id="login-icon-reverse">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Cerca"
              aria-label="Search"
            />
            <button class="btn btn-success" type="submit" >Cerca</button>
          </form>
          <div class="dropdown ">
            <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                fill="white"
                class="bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
                />
              </svg>
            </a>
          
            <div class="dropdown-menu left dropdown-menu-start border-secondary ">
              <form class="px-4 py-3 " [formGroup]="formLogin" >
                <div class="form-group" *ngIf="!utenteService.isLoggedIn">
                  <label for="exampleDropdownFormEmail1">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                </div>
                <div class="form-group" *ngIf="!utenteService.isLoggedIn">
                  <label for="exampleDropdownFormPassword1">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                </div>
                <div *ngIf="utenteService.isLoggedIn">
                    <p>Benvenuto {{utenteService.user.nome}} !</p>
                </div>
                
                <button type="submit" class="btn btn-success"  (click)="check()" *ngIf="!utenteService.isLoggedIn">Log in</button>
                <button type="submit" class="btn btn-success"  (click)="logOut()" *ngIf="utenteService.isLoggedIn">logOut</button>
              </form>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="login">Sei nuovo su TicketUniverse? Registrati</a>
              <a class="dropdown-item" href="#">Hai dimenticato la password?</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </nav>
</div>