<div class="mx-2 mb-5 pb-5 mx-4 table-responsive-lg">
  <table class="table">
    <thead>
      <tr>
        <th>
          Utenti 
        </th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Email</th>
        <th scope="col">Codice Fiscale</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let utente of utentiService.utenti">
        <td><mat-icon>person</mat-icon></td>
        <td>{{utente.nome}}</td>
        <td>{{utente.cognome}}</td>
        <td>{{utente.email}}</td>
        <td>{{utente.codiceFiscale}}</td>
        <td><button  matTooltip="Elimina Utente" (click)="onCancella(utente.id)" mat-mini-fab color= "stroked" class="btn btn-success" >
          <mat-icon>delete</mat-icon></button></td>
      </tr>
    
    </tbody>
  </table></div>