.cover {
  background-image: url("../../../assets/Cover.png");
  height: 100%;
  width: 100%;
  background-position: 69%;
  background-size: cover;

}

.text-image-1 {
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  text-align: center;

}

.cover-gradient {
  height: 100%;
  background: linear-gradient(45deg, #000000a4, #00000085, #0000003e);
  width: 100%;
}