<h1 class="ms-3 mt-3 mb-5">Benvenuto nell'area Admin</h1>
<div class="container-fluid pb-5 mb-5 pt-5">

  <div class="row">

      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-black shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              Pagamenti ricevuti</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">€40,000</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Prenotazioni</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">2150</div>
                      </div>
                      <button routerLink="/admin/visualizza-prenotazioni" mat-mini-fab color= "stroked" class="btn btn-success"><mat-icon>receipt long</mat-icon></button>
                      <div class="col-auto">
                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Eventi</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <button routerLink="/admin/visualizza-eventi" mat-mini-fab color= "stroked" class="btn btn-success"><mat-icon>event</mat-icon></button>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-black shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Utenti</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <button routerLink="/admin/visualizza-utenti" mat-mini-fab color= "stroked" class="btn btn-success"><mat-icon>group</mat-icon></button>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

  </div>

</div>

