<div class="container"><h2 class="h1 mb-5 py-4 border-bottom text-center">Tutti gli Eventi</h2></div>

<div class="container d-flex flex-wrap ps-4">
  <mat-card class="example-card mb-4" *ngFor="let evento of listaEventi" style="width: 330px; height: 200px; margin-left: 6%; margin-right: 1%;">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{evento.nome | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{evento.data | date : "short"}}</mat-card-subtitle>
        <mat-card-subtitle>{{evento.prezzo | currency: "EUR":true}}</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/ticket.png">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="truncate-text">
      {{evento.descrizione}}
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-button style="position: absolute; right: 3px; bottom: 2px;" class="ml-auto">PRENOTA</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>

  
  
