<div><h1 class="
text-center pt-5">CONTATTI</h1></div>
<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h4>CHIAMACI: 091 0097799</h4>

<h4>ORARI: Lunedì - Venerdì / 9:00 - 19:30</h4>


<h4>INVIACI UN EMAIL: info@TicketUniverse.com</h4>


    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
<h3>Assistenza consumatori</h3>
<p>Hai incontrato difficoltà durante il processo di acquisto?
Per richiedere informazioni e/o inoltrare comunicazioni relative a ordini eseguiti relativamente al processo di acquisto, alle condizioni di pagamento applicate, al ricevimento o al ritiro dei biglietti, o per qualsiasi altra domanda: contatta il nostro Servizio Clienti
</p>
</div>
<div class="row">
<h3>FanSALE</h3>
<p>Per chiedere informazioni circa la vendita o l’acquisto di biglietti sulla piattaforma FanSALE contatta il servizio di assistenza clienti:
contatta il nostro Servizio Clienti</p></div>

<div class="row">
<h3>Informazioni sugli eventi</h3>
<p>
Sei un navigatore TicketUniverse? Desideri maggiori informazioni sugli eventi che ti interessano? Vuoi sapere quando saranno avviate le prevendite dei biglietti con TicketUniverse? Vuoi conoscere il punto vendita TicketUniverse più vicino a casa tua? Chiama il call center TicketUniverse  (Il costo della chiamata da rete fissa è di 1 euro al minuto senza scatto alla risposta. La durata massima della chiamata tariffata è di dodici minuti e 30 secondi. Il costo massimo del servizio da rete mobile è di 1 euro e 50 centesimi al minuto con scatto alla risposta di 12,91 centesimi. Il servizio è riservato ai maggiorenni. Tutti i costi evidenziati sono espressi al netto I.V.A.).
</p></div>
<div class="row">
<h3>Persone con disabilità</h3>
<p>Le richieste di accesso agli eventi per le persone con disabilità sono gestite direttamente dall’organizzatore dell’evento. In questa pagina sono riportate tutte le informazioni utili e i contatti forniti dai principali organizzatori, ai quali è possibile rivolgersi per richiedere informazioni e/o inoltrare le richieste di accesso agli eventi. La denominazione/ragione sociale dell’organizzatore è disponibile sul nostro sito nella pagina dell'evento.</p>
</div></div>