<!--
<div class="pt-3 container-fluid"  *ngFor="let prenotazione of listaPrenotazioni" >
  <div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <mat-card>
      <mat-card-header>
        <mat-card-title> <div> ID PRENOTAZIONE: {{prenotazione.id}} </div><div>  </div></mat-card-title>
        <mat-card-subtitle> ID EVENTO: {{prenotazione.idEvento}} - ID UTENTE:{{prenotazione.idUtente}}
          <mat-card-content><p class="card-text">POSTI PRENOTATI:{{prenotazione.quantitaPrenotata}}</p>
            <p class="card-text">PREZZO TOTALE: {{prenotazione.prezzoTotale | currency: 'EUR':true}}</p>
            <p class="card-text">Convalidata: <span *ngIf="prenotazione.isConvalidata">Sì<mat-icon>check</mat-icon></span></p>
          </mat-card-content>
      </mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
      <mat-card-actions align="end">
        <div class="d-flex flex-column align-items-center me-3 prenota">
          <div class="mb-3"><button (click)="onCancella(prenotazione.id)" matTooltip="Elimina Prenotazione" mat-mini-fab color= "stroked" class="btn btn-success" >
            <mat-icon>delete</mat-icon></button></div>
          <div><button (click)="onConvalida(prenotazione.id)" matTooltip="Convalida Prenotazione" mat-mini-fab color= "stroked" class="btn btn-success" >
            <mat-icon>done_all</mat-icon></button></div>
        </div>
      </mat-card-actions></mat-card-footer>
    </mat-card></div>
<div class="col-lg-2"></div>
</div>
</div>
-->
<div class="mx-2 mb-5 pb-5 mx-4 table-responsive-lg">
  <table class="table">
    <thead>
      <tr>
        <th>Prenotazioni</th>
        <th scope="col">ID PRENOTAZIONE</th>
        <th scope="col">ID UTENTE</th>
        <th scope="col">ID EVENTO</th>
        <th scope="col">CONVALIDATA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prenotazione of prenotazioniService.prenotazioni">
        <td><mat-icon>confirmation_number</mat-icon></td>
        <td>{{ prenotazione.id }}</td>
        <td>{{ prenotazione.idUtente }}</td>
        <td>{{ prenotazione.idEvento }}</td>
        <td>
          <p class="card-text">
            Convalidata:
            <span *ngIf="prenotazione.isConvalidata"
              >Sì<mat-icon>check</mat-icon></span
            >
          </p>
        </td>
        <td>
          <span class="mx-2"
            ><button
              (click)="onCancella(prenotazione.id)"
              matTooltip="Elimina Prenotazione"
              mat-mini-fab
              color="stroked"
              class="btn btn-success"
            >
              <mat-icon>delete</mat-icon>
            </button></span
          >
          <span
            ><button
              (click)="onConvalida(prenotazione.id)"
              matTooltip="Convalida Prenotazione"
              mat-mini-fab
              color="stroked"
              class="btn btn-success"
            >
              <mat-icon>done_all</mat-icon>
            </button></span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
